
{% extends "main.html" %}

{% block content %}
<h1> projects templates</h1>
<p> Are you tired of spending time targeting your resume to job postings only to rarely if ever hear back.

    Did you think it was enough to add a few keywords from the job description to your resume ...as if that was some special "hack" for getting through today's advanced Applicant Tracking System (ATS) software programs.
    
    It's not enough.
    
    These algorithms are much smarter than they were 18 months ago and there's a reason why-
    A new matching code that many employers are using that you don't know about.</p>
    
{% endblock content %}